h1 {
  margin: 0 0 5px;
  padding: 0;
}

h2 {
  font-size:14px;
  font-weight: normal;
  margin:0;
  padding: 0;
}

h3 {
  margin: 0;
}

.bar { 
  float: left;
  width: 25%;
  margin-top: 10px;
}

.chord {
  font-weight: bold;
}

.row {
  clear: both;
}

hr {
  clear:both;
}

#content {
  width: 700px;
}

.chart-info {
  font-size: 10px;
}

.chart-info dt{
  float:left;
  font-weight:bold;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/*** Articulations ***/

.repeat-start .chord, .repeat-start .lyric{
  padding-left: 20px;
}
.repeat-end .chord, .repeat-end .lyric{
  padding-right: 20px;
}