h1 {
  margin: 0 0 5px;
  padding: 0;
}

h2 {
  font-size:14px;
  font-weight: normal;
  margin:0;
  padding: 0;
}

.bar { 
  float: left;
  width: 25%;
  margin-top: 10px;
}

.chord {
  font-weight: bold;
}

hr {
  clear:both;
}

.chart-info {
  font-size: 10px;
}

.chart-info dt{
  float:left;
  font-weight:bold;
}